<h1>写真登録</h1>

<% if @pic.errors.any? %>
  <div id="error_explanation">
    <h2><%= @pic.errors.count %>件のエラーがあります。</h2>

    <ul>
    <% @pic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @pic, multipart: true do |f| %>
  <p>
    <%= f.label :title, 'タイトル(必須/30文字以内)' %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :file, '写真ファイル(必須/JPG,PNG,GIFのみ)' %>
    <%= f.file_field :file, accept: 'image/jpg,image/jpeg,image/png,image/gif' %>
  </p>

  <%= f.submit 'アップロード' %>
  <%= link_to 'キャンセル', pics_path %>
<% end %>
